<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Electric Vehicle</title>
</head>
<body>
 
    <h1>Electric Vehicle Population Data</h1>

    
    {% for row in rows %}
    <p>Vehicle: 
       <b>{{row["Vehicle_ID"]}}</b> | 
       {{row["Year"]}} | 
        {{ row["Company"]}} | 
       {{row['Model']}}	| 
       {{row["Vehicle_Type"]}} |
        {{ row["County"]}} |
       {{row['City']}}	
    </p>
    {% endfor %}
  

    
</body>
</html>








  